/* font-family: "OpenSansRegular"; */
@font-face {
    font-family: "OpenSansRegular";
    src: url("/inc/fonts/OpenSansRegular/OpenSansRegular.eot");
    src: url("/inc/fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
    url("/inc/fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
    url("/inc/fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansLight"; */
@font-face {
    font-family: "OpenSansLight";
    src: url("/inc/fonts/OpenSansLight/OpenSansLight.eot");
    src: url("/inc/fonts/OpenSansLight/OpenSansLight.eot?#iefix")format("embedded-opentype"),
    url("/inc/fonts/OpenSansLight/OpenSansLight.woff") format("woff"),
    url("/inc/fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansItalic"; */
@font-face {
    font-family: "OpenSansItalic";
    src: url("/inc/fonts/OpenSansItalic/OpenSansItalic.eot");
    src: url("/inc/fonts/OpenSansItalic/OpenSansItalic.eot?#iefix")format("embedded-opentype"),
    url("/inc/fonts/OpenSansItalic/OpenSansItalic.woff") format("woff"),
    url("/inc/fonts/OpenSansItalic/OpenSansItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansBold"; */
@font-face {
    font-family: "OpenSansBold";
    src: url("/inc/fonts/OpenSansBold/OpenSansBold.eot");
    src: url("/inc/fonts/OpenSansBold/OpenSansBold.eot?#iefix")format("embedded-opentype"),
    url("/inc/fonts/OpenSansBold/OpenSansBold.woff") format("woff"),
    url("/inc/fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansExtraBold"; */
@font-face {
    font-family: "OpenSansExtraBold";
    src: url("/inc/fonts/OpenSansExtraBold/OpenSansExtraBold.eot");
    src: url("/inc/fonts/OpenSansExtraBold/OpenSansExtraBold.eot?#iefix")format("embedded-opentype"),
    url("/inc/fonts/OpenSansExtraBold/OpenSansExtraBold.woff") format("woff"),
    url("/inc/fonts/OpenSansExtraBold/OpenSansExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansExtraBoldItalic"; */
@font-face {
    font-family: "OpenSansExtraBoldItalic";
    src: url("/inc/fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot");
    src: url("/inc/fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("/inc/fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.woff") format("woff"),
    url("/inc/fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansBoldItalic"; */
@font-face {
    font-family: "OpenSansBoldItalic";
    src: url("/inc/fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot");
    src: url("/inc/fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("/inc/fonts/OpenSansBoldItalic/OpenSansBoldItalic.woff") format("woff"),
    url("/inc/fonts/OpenSansBoldItalic/OpenSansBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansRegularItalic"; */
@font-face {
    font-family: "OpenSansRegularItalic";
    src: url("/inc/fonts/OpenSansRegularItalic/OpenSansRegularItalic.eot");
    src: url("/inc/fonts/OpenSansRegularItalic/OpenSansRegularItalic.eot?#iefix")format("embedded-opentype"),
    url("/inc/fonts/OpenSansRegularItalic/OpenSansRegularItalic.woff") format("woff"),
    url("/inc/fonts/OpenSansRegularItalic/OpenSansRegularItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansSemiBold"; */
@font-face {
    font-family: "OpenSansSemiBold";
    src: url("/inc/fonts/OpenSansSemiBold/OpenSansSemiBold.eot");
    src: url("/inc/fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix")format("embedded-opentype"),
    url("/inc/fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"),
    url("/inc/fonts/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansSemiBoldItalic"; */
@font-face {
    font-family: "OpenSansSemiBoldItalic";
    src: url("/inc/fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot");
    src: url("/inc/fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("/inc/fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.woff") format("woff"),
    url("/inc/fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}
.row:after{
    content:'';
    display: block;
    clear:both;
}
html,body{
	margin:0;
	font-family: "OpenSansRegular";
    background:#e6e6e6;
}
html{
    position: relative;
    min-height: 100%;
}
body{
    margin-bottom: 100px;
}
a{
    text-decoration:none;
}
p{
	font-size:18px;
    font-family: "OpenSansRegular";
}
h1,h2,h3{
    font-family: "OpenSansRegular";
    color:#474747;
}
button , input , textarea{
    outline:none;
    border:none;
}
.container{
	max-width:1200px;
	position: relative;
	margin:0 auto;
	text-align:center;
}
.container:after{
	content:'';
	display: block;
	clear:both;
}

.clear:after{
    content:'';
    display: block;
    clear:both;
}

/*=========== auth-form block ===========*/

.auth-form{
    width:300px;
    margin:100px auto ;
}
.auth-form form{
    width:100%;
    display: block;
}
.auth-form form input {
    width:100%;
    margin:10px 0 20px;
    border:1px solid #676767;
    border-radius:3px;
    padding:10px ;
    background:#474747;
    outline:none;
    color:#ccc;
}

.auth-form form button{
    width:60%;
    display: block;
    margin:10px auto;
    padding:10px 0;
    border-radius:3px;
    background:#ccc;
    color:#333;
    outline:none:;
}

/*============ main menu ================*/
.main-menu{
    width:180px;
    float:left;
}
.main-menu a{
    display: block;
    width:100%;
    padding:8px;
    font-size:20px;
    color:#fff;
    background:#333;
    margin-bottom:1px;
    border-radius:3px;
}
.main-menu a.active{
    background:#00985F;
}
.main-info{
    overflow:hidden;
    height:80px;
    border-bottom:1px solid #333;
    margin-bottom:10px;
}

.good-item{
    padding:10px;
    border:1px solid #ccc;
    margin-bottom:3px;
}
.content{
    width:1000px;
    float:right;
}   
.prod-table{
    width:100%;
}
.prod-table tr td{
    padding:10px;
    border:1px solid #ccc;
}
.prod-table tr:nth-child(2n){
    background:rgba(333,111,229,.05);
}
.t-body:hover{
    background:#c3c3c3 !important;
}
.table-m-desc{
    font-size:13px;
    text-align:left;
}
.table-btn-r{
    display: block;
    width:80px;
    border-radius:3px;
    border:1px solid #333;
    margin-bottom:3px;
    cursor:pointer;
    color:#333;
}
.main-content-menu{
    padding:5px 0;
    margin:10px 0;
}
.t-left{
    text-align:left;
}
.content p{
    margin:3px 0;
}
.content .row{
    margin-bottom:20px;
}
#name-prod{
    width:400px;
    text-align:left;
}
#name-prod p {
    margin:3px 0;
}
#name-prod input{
    width:100%;
}
.content input , .content textarea{
    border-radius:3px;
    background:#474747;
    color:#fff;
    padding:10px;
}
#m-desc{
    width:400px;
    text-align:left;
}
#m-desc input{
    width:100%;
}

.desc{
    width:800px;
    text-align:left;
}
.desc textarea{
    width:100%;
}

#cost{
    width:300px;
    text-align:left;
}
#cost input{
    width:100%;
}
.save-btn{
    padding:10px;
    font-size:25px;
    color:#fff;
    background:#333;
    border-radius:4px;
}
#brand{
    text-align:left;
}
.footer{
    width:1200px;
    height:80px;
    background:#333;
    position: absolute;
    bottom:0;
    left:50%;
    margin-left:-600px;
}
#addprod-btn{
    padding:10px;
    color:#fff;
    background:#474747;
    border-radius:2px;
}

#cat{
    width:100%;
    padding:10px;
    margin:10px 0;
    border-radius:2px;
    border:1px solid #ccc;
}
#cat .row{
    float:left;
    width:400px;
}
#cat-prod select{
    width:300px;
    margin:10px auto;
    padding:4px;
    border-radius:2px;
    font-size:20px;
    outline:none;
    background:#474747;
    color:#fff;
}
#new-product-form input.err{
    border:2px solid red;
}
#new-product-form select.err{
    border:2px solid red;
}
#new-product-form textarea.err{
    border:2px solid red;
}



.notify-block{
    position:fixed;
    width:320px;
    left:50%;
    margin-left:-160px;
    top:-320px;
    background:rgba(0,0,0,0.8);
    border-radius:3px;
    padding:20px 3px;
    opacity:0;
    visibility:hidden;
     -webkit-box-shadow:0 0 10px 2px rgba(0,0,0,0.3);
     -moz-box-shadow:0 0 10px 2px rgba(0,0,0,0.3);
     box-shadow:0 0 10px 2px rgba(0,0,0,0.3);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.notify-block.show{
    top:60px;
    opacity:1;
    visibility:visible;
}
.notify-block.hide{
    left:-320px;
    top:-320px;
    opacity:0;
    visibility:hidden;
}
.message-notify{
    color:#fff;
    font-size:22px;
    font-weight:bold;
    text-align:center;
}